
@{
    Layout= null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mobilya</td>
    </tr>
</table>

<br/>
<br/>
<div style="background-color:blueviolet;margin-left:100px;margin-right:100px"> Burası bir divdir</div>
<br />
<div style="background-color:crimson"> Burası bir divdir</div>