@{ 
    Layout = null;
}


<h2>Yetenekler</h2>
<h4>Bildiğim Diller: C#, Sql, Asp.net core, c</h4>
<h4>Kullandığım Teknolojiler: Microservis, N tier, Onion, Dapper, Docker</h4>
<h4>Araçlar: VSC, VS Code</h4>

<a href="/Default/Index">Index Sayfasını Aç</a>