<section class="w3l-clients py-5" id="testimonials">
    <div class="container pt-md-5 pt-4">
        <div class="w3-testimonial-grids align-items-center py-lg-5">
            <div class="w3-testimonial-content-top">
                <div class="mb-4">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        <i class="fas fa-quote-left me-2"></i>
                                        Çevremizden duyduğumuz tüm olumlu değerlendirmeler üzerine iletişime geçtik. Kusursuz hizmet sergiledikleri için 
                                        tüm çalışanlara teşekkürü borç bilirim. Detaylı paketleme, hızlı taşımacılık ve uygun fiyat ile mükemmel bir hizmet aldık.
                                        Her şey planladığımız ve istediğimiz gibi oldu. Çok teşekkürler
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/Templates/Transpolar-Starter/assets/images/team1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Ahmet Tekin</h3>
                                        <p class="indentity">Arçelik Ltd. Şti.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

