<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Size Özel</h6>
            <h3 class="title-w3l">Hizmetlerimiz</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Sigortalı Nakliyat</a></h4>
                        <p class="text-para">Sigortalı evden eve taşımacılık hizmeti ile bireysel ev eşyalarınız veya ofis eşyaları kasko sigorta güvencesi altındadır.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Canlı Takip</a></h4>
                        <p class="text-para">Paket takip programımız ile paketinizin harita üzerinde takip edebilir ve müşteri hizmetleri aracılığıyla 7/24 ulaşabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Uluslararası Nakliyat</a></h4>
                        <p class="text-para">Tamamı dünya standartlarında 60 araçtan oluşan filomuz ile uluslararası taşımacılıkta 23 yıldır hizmet veriyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
