<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-4 sub-one-left pe-lg-5">
                        <h2>
                            <a class="navbar-brand" href="index.html">
                                <i class="fas fa-truck-moving"></i> ÇELİK LOJİSTİK
                            </a>
                        </h2>
                        <p class="footer-phny mt-3">
                            Merkez Ofis
                            Taşkent Sokak.No:129 Kağıthane / İstanbul
                        </p>
                        <p class="footer-phny mt-3">
                            Öneri ve Görüşleriniz İçin Bize Ulaşın
                            0500 155 00 00
                        </p>
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 sub-two-right">
                        <div class="row">
                            <div class="col-lg-3 sub-two-right">
                                <h6>Biz Kimiz</h6>
                                <ul>
                                    <li>
                                        <a href="about.html">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a href="about.html"> Ekibimiz</a>
                                    </li>
                                    <li>
                                        <a href="#news">Haberler</a>
                                    </li>
                                    <li>
                                        <a href="contact.html"> Referanslar</a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="col-lg-3 sub-two-right">
                                <h6>Hizmetlerimiz</h6>
                                <ul>
                                    <li>
                                        <a href="#request">Karayolu Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#track">Denizyolu Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#job"> Havayolu Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#posts">Demiryolu Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#support"> Özel Kurye Hizmeti</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section mt-lg-5 pt-lg-4">
                <div class="copyright-footer">
                    <p class="copyright-column">
                        © 2022 Celik Nakliyat.All rights reserved. Design by HT>
                    
                    </p>

                    <ul class="footer-w3list text-right">
                        <li>
                            <a href="#url">Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="#url">Şartlar &amp; Koşullar</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

    </script>
    <!-- //move top -->
</footer>

